{% extends 'header.html'%}
{% block content %}

<style>
    .file {
        visibility: hidden;
        position: absolute;
    }

    #upload {
        opacity: 0;
    }

    #upload-label {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    .image-area {
        border: 2px dashed rgba(255, 255, 255, 0.7);
        padding: 1rem;
        position: relative;
    }

    .image-area::before {
        content: 'Uploaded image result';
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
        z-index: 1;
    }

    .image-area img {
        z-index: 2;
        position: relative;
    }
</style>
<br>
<div class="container">
    <form action="/info" method="post" enctype="multipart/form-data">
        <div class="row py-4">
            <div class="col-lg-6 mx-auto">

                <!-- Upload image input-->
                <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                    <input id="upload" type="file" accept="image/*" name="img" onchange="readURL(this);" class="form-control border-0">
                    <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                    <div class="input-group-append">
                        <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                                class="fa fa-cloud-upload mr-2 text-muted"></i><small
                                class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                    </div>
                </div>

                <!-- Uploaded image area-->
                <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.
                </p>
                <div class="image-area mt-4"><img id="imageResult" src="#" alt=""
                        class="img-fluid rounded shadow-sm mx-auto d-block"></div>

            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Breed name</label>
                <input type="text" name="bname" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Animal</label>
                <select id="inputState" name="animal" style="width: 580px;" class="form-control">
                    <option selected>Choose...</option>
                    <option value="cat">Cat</option>
                    <option value="dog">Dog</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Temperment</label>
                <input type="text" name="temp" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCity">Life expenctancy</label>
                <input type="text" name="lfexp" class="form-control" id="inputCity">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Discription</label>
            <textarea name="" name="dis" class="form-control" id="inputAddress" style="width: 1170px;" placeholder="1234 Main St" cols="10" rows="2"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Height</label>
                <input type="text" name="height" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Group</label>
                <select id="inputState" name="grp" class="form-control">
                    <option selected>Choose...</option>
                    <option value="Non-Sporting Group">Non-Sporting Group</option>
                    <option  value="Terrier Group">Terrier Group</option>
                    <option value="Foundation Stock Service">Foundation Stock Service</option>
                    <option value="Miscellaneous Class">Miscellaneous Class</option>
                    <option value="Toy Group">Toy Group</option>
                    <option value="Herding Group">Herding Group</option>
                    <option value="Hound Group">Hound Group</option>
                    <option value="Sporting Group">Sporting Group</option>
                    <option value="Working Group">Working Group</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Color</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" style="margin-left: 500px;">Submit</button>
        <br><br>
    </form>
</div>



<script>
    $(document).on("click", ".browse", function () {
        var file = $(this).parents().find(".file");
        file.trigger("click");
    });
    $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        $("#file").val(fileName);

        var reader = new FileReader();
        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("preview").src = e.target.result;
        };
        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function () {
        $('#upload').on('change', function () {
            readURL(input);
        });
    });

    /*  ==========================================
        SHOW UPLOADED IMAGE NAME
    * ========================================== */
    var input = document.getElementById('upload');
    var infoArea = document.getElementById('upload-label');

    input.addEventListener('change', showFileName);
    function showFileName(event) {
        var input = event.srcElement;
        var fileName = input.files[0].name;
        infoArea.textContent = 'File name: ' + fileName;
    }

</script>












{% endblock %}