<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Petspatial Animals & Pets Category Bootstrap Responsive Web Template | Home :: W3Layouts </title>
  <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style-starter.css') }}">
</head>

<body>
  <header id="site-header" class="fixed-top">
    <section class="w3l-header-4">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <h1> <a class="navbar-brand" href="/">
              Pet<span class="sublog">spatial.</span>
            </a></h1>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa icon-expand fa-bars"></span>
            <span class="fa icon-close fa-times"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
            <ul class="navbar-nav search-right mt-lg-0 mt-2">
              <li class="nav-item mx-xl-4"><a href="/login"
                class="btn btn-primary btn-white d-none d-lg-block btn-style mr-2"> Login</a>
            </li>
              <li class="nav-item mx-xl-4"><a href="/register"
                  class="btn btn-primary btn-white d-none d-lg-block btn-style mr-2"> Register</a>
              </li>
            </ul>

            <!-- //toggle switch for light and dark theme -->
            <!-- search popup -->
            <div id="search" class="pop-overlay">
              <div class="popup">
                <form action="#" method="GET" class="d-sm-flex">
                  <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                  <button type="submit"><span class="fa fa-search"></span></button>
                  <a class="close" href="#">&times;</a>
                </form>
              </div>
            </div>
            <!-- /search popup -->
          </div>
        </nav>
      </div>
    </section>
  </header>
  <!--//header-->
  <!-- main-slider -->
  <section class="w3l-main-slider banner-slider" id="home">
    <div class="owl-one owl-carousel owl-theme">
      <div class="item">
        <div class="slider-info banner-view banner-top1">
          <div class="container">
            <div class="banner-info">
              <h3>Adopt Don’t Shop</h3>
              <div class="banner-info-top">
                <p>Approximately 1478 dogs & cats die every day on road in India. 
                ThePetspatial is on a mission to provide every dog and cat a home before 2035.
                 It’s just one of the many ways The Petspatial gives back and helps you become a part of something larger.  </p>
                <a href="#" class="btn btn-style btn-outline-light mt-sm-5 mt-4">Read More </a>

              </div>
            </div>
            <div class="banner-info-top-grids">
              <h5 class="text-lg-left"><strong>Our Location : </strong> Mumbai </h5>
              <h5 class="text-lg-right"><strong> Open Hours : </strong> Mon - Sat 8am - 6pm</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider-info banner-view banner-top2">
          <div class="container">
            <div class="banner-info">
              <h3>Caring is More Daring.</h3>
              <div class="banner-info-top">
                <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
                  tempufddfel. Lorem ipsum dolor sit amet elit. </p>
                <a href="#" class="btn btn-style btn-outline-light mt-sm-5 mt-4">Read More </a>

              </div>
            </div>
            <div class="banner-info-top-grids">
              <h5 class="text-lg-left"><strong>Our Location : </strong> 253 Adams Ave, Iowa</h5>
              <h5 class="text-lg-right"><strong> Open Hours : </strong> Mon - Sat 8am - 6pm</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider-info banner-view banner-top3">
          <div class="container">
            <div class="banner-info">
              <h3>Grooming & Pet Supplies.</h3>
              <div class="banner-info-top">
                <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
                  tempufddfel. Lorem ipsum dolor sit amet elit. </p>
                <a href="#" class="btn btn-style btn-outline-light mt-sm-5 mt-4">Read More </a>
              </div>
            </div>
            <div class="banner-info-top-grids">
              <h5 class="text-lg-left"><strong>Our Location : </strong> 253 Adams Ave, Iowa</h5>
              <h5 class="text-lg-right"><strong> Open Hours : </strong> Mon - Sat 8am - 6pm</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /main-slider -->
  <!--/feature-grids-->
  <section class="w3l-features py-5" id="features">
    <div class="container py-lg-4">
      <div class="grids-area-hny main-cont-wthree-fea row">
        <div class="col-lg-2 col-md-3 col-6 grids-feature">
          <div class="area-box">
            <div class="icon">
              <span class="fa fa-snowflake-o"></span>
            </div>
            <h4><a href="#feature" class="title-head">Dog Walking</a></h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 grids-feature">
          <div class="area-box mb-lg-0">
            <div class="icon">
              <span class="fa fa-cutlery"></span>
            </div>
            <h4><a href="#feature" class="title-head">Healthy Meals</a></h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 grids-feature">
          <div class="area-box mb-lg-0">
            <div class="icon">
              <span class="fa fa-sign-language"></span>
            </div>
            <h4><a href="#feature" class="title-head">Pet Sitting</a></h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 grids-feature">
          <div class="area-box">
            <div class="icon">
              <span class="fa fa-sitemap"></span>
            </div>
            <h4><a href="#feature" class="title-head">Dog Activities</a></h4>

          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 grids-feature">
          <div class="area-box mb-lg-0">
            <div class="icon">
              <span class="fa fa-shower"></span>
            </div>
            <h4><a href="#feature" class="title-head">Pet Daycare</a></h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 grids-feature">
          <div class="area-box">
            <div class="icon">
              <span class="fa fa-user-md"></span>
            </div>
            <h4><a href="#feature" class="title-head">Pet Grooming</a></h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//feature-grids-->
  <!--#-section-->
  <section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-3">
        <div class="row">
          <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4 align-self pr-lg-5">
            <div class="title-content text-left">
              <h6 class="title-subhny mb-2"><span>Love Your Pet</span></h6>
              <h3 class="title-w3l">Established &
                Trusted Pet
                Care Service</h3>
            </div>
            <p class="mt-md-4 mt-3">At Love Your Pet Raw Foods in Park City, Utah, we believe in doing things
              differently. We offer raw, wild meats and vegetables for your dog and cat. A healthier diet provides
              cleaner teeth, better weight control, shinier skin and coat, and overall better health. Add Love Your Pet
              raw dog and cat food to your pet's diet, and you'll never look back</p>
            <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="#"> Read More</a>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-4">
            <div class="position-relative">
              <img src="../static/images/b1.jpg" alt="" class="radius-image img-fluid">
            </div>
          </div>
          <div class="col-lg-6 mt-5 pt-lg-4">
            <div class="position-relative">
              <img src="../static/images/b2.jpg" alt="" class="radius-image img-fluid">
            </div>
          </div>
          <div class="col-lg-6 mt-5 align-self pl-lg-5 pt-lg-4">
            <div class="title-content text-left">
              <h6 class="title-subhny mb-2"><span>Pet care</span></h6>
              <h3 class="title-w3l">Reliable & Affordable in home pet care.</h3>
            </div>

            <p class="mt-md-4 mt-3">A pet-sitting swap – where you make arrangements to take care of a dog or cat with
              another pet parent when each of you are away or in need – is a great opportunity to benefit from pet care
              at no cost.</p>
            <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="#"> Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#-section-->

  <!-- footer -->
  <footer class="w3l-footer-29-main">
    <div class="footer-29-w3l py-5">
      <div class="container py-lg-4">
        <div class="row footer-top-29">
          <div class="col-lg-4 col-md-6  footer-list-29 footer-1 pr-lg-5">
            <div class="footer-logo mb-3">
              <a class="footer-brand-logo" href="/">Pet<span class="sublog">spatial.</span></a>

            </div>
            <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
              tempufddfel. Lorem ipsum dolor sit amet Semper at elit.</p>
            <div class="main-social-footer-29 mt-4">
              <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
              <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
              <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
              <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 footer-list-29 footer-2 mt-sm-0 mt-5">
            <h6 class="footer-title-29">Subscribe Newsletter
            </h6>
            <form action="#" method="post" class="forms-25-info mt-4 mb-2">
              <div class="forms-gds">
                <input type="email" name="" placeholder="Enter your email" required="">
                <button class="btn btn-style btn-primary">Subscribe</button>
              </div>
              <p class="mt-4 text-left">By submitting this form, you agree to the <a href="#">privacy policy</a> and <a
                  href="#">terms of use</a></p>
            </form>
          </div>
          <div class="col-lg-4 col-md-6  footer-list-29 footer-4 mt-lg-0 mt-5 pl-lg-5">
            <h6 class="footer-title-29">Instagram
            </h6>
            <ul class="w3linst-imgs row">
              <li class="col-4"><a href="#"><img src="../static/images/b1.jpg" alt=""
                    class="radius-image img-fluid"></a>
              </li>
              <li class="col-4"><a href="#"><img src="../static/images/b2.jpg" alt=""
                    class="radius-image img-fluid"></a>
              </li>
              <li class="col-4"><a href="#"><img src="../static/images/b3.jpg" alt=""
                    class="radius-image img-fluid"></a>
              </li>
              <li class="col-4 mt-4"><a href="#"><img src="../static/images/b4.jpg" alt=""
                    class="radius-image img-fluid"></a>
              </li>
              <li class="col-4 mt-4"><a href="#"><img src="../static/images/b5.jpg" alt=""
                    class="radius-image img-fluid"></a>
              </li>
              <li class="col-4 mt-4"><a href="#"><img src="../static/images/b6.jpg" alt=""
                    class="radius-image img-fluid"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- //footer -->
    <!-- copyright -->
    <section class="w3l-copyright">
      <div class="container">
        <div class="row bottom-copies">
          <p class="col-lg-8 copy-footer-29">© 2021 Petspatial. All rights reserved. Design by <a
              href="https://w3layouts.com/" target="_blank">
              W3layouts</a></p>

          <div class="col-lg-4 footer-list-29">
            <ul class="d-flex text-lg-right">
              <li><a href="#careers"> Careers</a></li>
              <li class="mx-lg-5 mx-md-4 mx-3"><a href="#privacymy-lg-0 my-4">Privacy Policy</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>

        </div>
      </div>
    </section>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </footer>

  <!-- //copyright -->
  <!-- Template JavaScript -->
  <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/theme-change.js') }}"></script>
  <!-- owlcarousel -->
  <!-- owl carousel -->
  <script src="{{ url_for('static',filename='js/owl.carousel.js') }}"></script>
  <!-- script for banner slider-->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1
          },
          480: {
            items: 1
          },
          667: {
            items: 1
          },
          1000: {
            items: 1
          }
        }
      })
    })
  </script>
  <!-- //script -->
  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-demo2").owlCarousel({
        loop: true,
        nav: false,
        margin: 50,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          736: {
            items: 1,
            nav: false
          },
          991: {
            items: 2,
            margin: 30,
            nav: false
          },
          1080: {
            items: 2,
            nav: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->

  <!-- stats number counter-->
  <script src="{{ url_for('static',filename='js/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery.countup.js') }}"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->
  <!-- video popup -->
  <script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js') }}"></script>
  <script>
    $(document).ready(function () {
      $('.popup-with-zoom-anim').magnificPopup({
        type: 'inline',

        fixedContentPos: false,
        fixedBgPos: true,

        overflowY: 'auto',

        closeBtnInside: true,
        preloader: false,

        midClick: true,
        removalDelay: 300,
        mainClass: 'my-mfp-zoom-in'
      });

      $('.popup-with-move-anim').magnificPopup({
        type: 'inline',

        fixedContentPos: false,
        fixedBgPos: true,

        overflowY: 'auto',

        closeBtnInside: true,
        preloader: false,

        midClick: true,
        removalDelay: 300,
        mainClass: 'my-mfp-slide-bottom'
      });
    });
  </script>
  <!-- //video popup -->
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

</body>

</html>